module.exports = {
  apps: [
    {
      name: "wh-express-babel",
      script: "apps\\wh-express-babel\\dist\\index.js",
      env: {
        NODE_ENV: "development"
      },
      env_production: {
        NODE_ENV: "production"
      },
      instances: 1,
      exec_mode: "fork"
    },
  ]
}